/* 
    Document   : style
    Created on : Jun 7, 2012, 4:01:30 PM
    Author     : patrick
    Description:
        Purpose of the stylesheet follows.
*/

.airpapr-imageviewer {
	margin: 0 auto;
	opacity: 0;
	display: none;
	position: absolute;
	z-index: 100;
}

#backdrop {
	background-color: rgba(0, 0, 0, .8);
	position: absolute;
	top: 0;
	left: 0;
	z-index: 50;
}

